.title-background {
    color: azure;
}

.big-banner{
    background-image: url('/assets/images/dave-ruck-1075684-unsplash.jpg')
}

.navbar {
    background-color: transparent;
}

.jumbotron {
    margin-bottom: 0px;
    border-radius: 0px;
}

.nav-link{
    color: white;
}

.navbar-nav {
    font-size: 1.65rem;
    padding-left: 10.5rem;
    padding-right: 10.5rem;
    padding-bottom: 30px;
}

.justify-content-center {
    margin-bottom: -95px;
}

.nav-item{
    padding-right: 100px;
}