.title-background {
    color: azure;
}

.big-banner{
    background-image: url('/assets/images/dave-ruck-1075684-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: 40% 55%;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.jumbotron {
    margin-bottom: 5px;
    border-radius: 8px;
    margin: 35px;
}

.nav-link{
    color: white;
}

.navbar-nav {
    font-size: 1.05rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
}

.justify-content-center {
    margin-bottom: -145px;
    margin-top: -95px;
}

.nav-item{
    padding-right: 100px;
}

a:hover{
    color: black;
}

.nav-link:hover{
    background-color: azure;
}

.navbar-toggler-icon{
    color: white;
    border-bottom-color: white;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 0.75rem;
    line-height: 2;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}