.check-in{
    background-image: url('/assets/images/fog-foggy-forest-279626.jpg');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: cover;
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 8px;
    height: 660px;
    margin: 15px;
    margin-top: -50px;
}