<div class="lunch">
    <div class="row">
        <div class="col-sm-7 text-options">
            <p class="text-center">BREAKFAST</p>
            <hr class="line">
            <p class="text-center" style="max-width: 100px;">Belgian Waffle Steamed Milk</p>
            <!-- <p class="text-center">Steamed Milk</p> -->
            <p class="text-center">LUNCH</p>
            <hr class="line">
            <p class="text-center">House Special Chicken</p>
            <p class="text-center">Seafood Pasta</p>
            <p class="text-center">DINNER</p>
            <hr class="line">
            <p class="text-center">Soup of the day</p>
            <p class="text-center">Chef's pick sashimi</p>         
        </div>
        <div class="col-sm-5">
          
        </div>
    </div>
</div>
