<div class="lunch">
    <div class="row">
        <div class="col-sm-7 text-options">
            <h5 class="text-center">BREAKFAST</h5>
            <hr class="line">
            <h6 class="text-center">Belgian Waffle Steamed Milk</h6>
            <h6 class="text-center">Steamed Milk</h6>
            <h5 class="text-center">LUNCH</h5>
            <hr class="line">
            <h6 class="text-center">House Special Chicken</h6>
            <h6 class="text-center">Seafood Pasta</h6>
            <h5 class="text-center">DINNER</h5>
            <hr class="line">
            <h6 class="text-center">Soup of the day</h6>
            <h6 class="text-center">Chef's pick sashimi</h6>         
        </div>
        <div class="col-sm-5">
          
        </div>
    </div>
</div>
