.nav{
    background-color: rgba(231, 229, 235, 0.15);
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 8px;
    height: 250px;
    margin: 20px;
    margin-top: 0px;
}

.nav-link{
    color: black;
}

a:hover{
    color: white;
}

.nav-link:hover{
    background-color: red;
    box-shadow: 5px 0px red;
}