.weather{
    background-image: url('/assets/images/beautiful-clouds-cloudy-209831.jpg');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 8px;
    height: 350px;
    margin: 15px;
    margin-top: 0px;
    margin-left: -10px;

    padding: 50px;
    font-size: 1.25rem;
}

.text-center{
    color: white;
    padding: 0px;
}

.fas{
    margin-left: 5px;
}

.fa-sun {
    margin-bottom: 2px;
}

.fa-cloud-sun-rain{
    margin-top: 2px;
}

.fa-bolt{
    margin-top: 10px;
}