<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

<div class="weather">
    <div class="row justify-content-center">
        <p class="text-center">SAN DIEGO</p>
    </div>
    <div class="row justify-content-center">
        <p class="text-center">23℃ </p>
        <i class="fas fa-cloud-sun" style='font-size:35px;color:white'></i>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <p class="text-center">WED</p>
            <i class="fas fa-sun" style='font-size:35px;color:white'></i>
        </div>
        <div class="col-sm-4">
            <p class="text-center">THU</p>
            <i class="fas fa-bolt" style='font-size:35px;color:white'></i>
        </div>
        <div class="col-sm-4">
            <p class="text-center">FRI</p>
            <i class="fas fa-cloud-sun-rain" style='font-size:35px;color:white'></i>
        </div>
    </div>      
</div>
