<nav class="navbar">
    <a class="navbar-brand" href="#">
      <form>
          <div class="form-group">
            <div class="user-email">
              <i class="fas fa-user" style='font-size:20px;color:white'></i>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1" placeholder="Jason Momoa">
            </div>

            <div class="user-password">
              <i class="fas fa-key" style='font-size:20px;color:white'></i>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**********">
            </div>
            
            <button type="button" class="btn btn-primary">SIGN IN</button>
            <button type="button" class="btn btn-primary">SIGN UP</button>

          </div>    
        </form>
    </a>
</nav>