.navbar{
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 8px;
    height: 300px;
    margin: 15px;
    margin-top: 0px;
    margin-left: -10px;
    background-image: url('/assets/images/armchair-art-chair-696407.jpg');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: cover;
}

.img-person-key{
    width:30px;
    height:30px;
    color: white;
}

.form-control {
    display: -webkit-inline-flex;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    border-inline-end: 0px;
    border-inline-start: 0px;
    border-top: 0px;
    color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-primary{
    border-radius: 5rem;
    margin: 1rem;
    background-color: black;
    border-bottom-color: black;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black; 
}

.btn:hover {
    background-color: white;
    color: black;
}