<nav class="navbar">
    <a class="navbar-brand" href="#">
      <form>
          <div class="form-group">
            <div class="user-email">
              <img class="img-person-key" src="/assets/images/si-glyph-person-2.svg"/>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1" placeholder="Jason Momoa">
            </div>

            <div class="user-password">
              <img class="img-person-key" src="/assets/images/si-glyph-key-2.svg"/>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**********">
            </div>
            
            <button type="button" class="btn btn-primary">SIGN IN</button>
            <button type="button" class="btn btn-primary">SIGN UP</button>

          </div>    
        </form>
    </a>
</nav>