<!-- <nav class="nav flex-column text-center">
  <a class="nav-link col-md" href="#">View Availability</a>
  <a class="nav-link col-md" href="#">Gift Certificates</a>
  <a class="nav-link col-md" href="#">General Information</a>
  <a class="nav-link col-md" href="#">Loyalty Program</a>

</nav> -->

<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
       <img src="/assets/images/apple-chair-contemporary-939331.jpg" width="30%" height="30%" class="d-inline-block align-top" alt=""> 
      <form>
          <div class="form-group img-thumbnail" >
            <img src="/assets/images/apple-chair-contemporary-939331.jpg" class="img-thumbnail"> 
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>    
        </form>
    </a>
</nav> -->

