.nav-link {
    background-color: azure;
    border-radius: 8px;    
}

.nav {
    margin: 20px;
}

.navbar-brand{
    background-image: url('/assets/images/apple-chair-contemporary-939331.jpg');
    /* max-width: 30%;
    position: 0px; */
    /* background-image: url("../../assets/images/apartment-chair-contemporary-509922.jpg"); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.form-group{
    background-color: transparent;
}

.img-thumbnail{
    max-width: 30%;
    position: 0px;
}