<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

<div class="social-media">
    <div class="row">
        <div class="col-sm-7 justify-content-center">
            <i class="fab fa-twitter" style='font-size:30px;color:grey'></i>
            <i class="fab fa-facebook-f" style='font-size:30px;color:grey'></i>
            <i class="fab fa-instagram" style='font-size:30px;color:grey'></i>
            <i class="fas fa-share-alt" style='font-size:30px;color:grey'></i>
            <i class="fas fa-share" style='font-size:30px;color:grey'></i>
        </div>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="inputEmail3" placeholder="EMAIL SUBSCRIBE">
        </div>
        
    </div>
</div>
