<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

<div class="luxury">
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">LUXURY SUITE</p>
        </div>
        <div class="col-sm-4 offset-sm-4 text-options">
            <p class="text-center">$199 per night</p>
            <hr class="line">
            <p class="text-center">
                <i class="fas fa-bed" style='font-size:30px;color:white'></i>
                2 King beds
            </p>
            <p class="text-center">
                <i class="fas fa-wifi" style='font-size:30px;color:white'></i>
                Free Wifi
            </p>
            <p class="text-center">
                <i class="fas fa-parking" style='font-size:30px;color:white'></i>
                Free Parking
            </p>
            <p class="text-center">
                <i class="fas fa-phone" style='font-size:30px;color:white'></i>
                Phone Service
            </p>
            <p class="text-center">
                <button type="button" class="btn shadow-sm">Order</button>
            </p>            
        </div>
    </div>
</div>